/*------------------------------------*\
    #Dependencies
\*------------------------------------*/


/* Fonts */
$primary: 'source-sans-pro', sans-serif; /* Primary font for headlines etc. */
$secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Secondary font for body text */
$display: amatic-sc, sans-serif;


/* Colours */
$main-color: #555; /* Grey */
$highlight-color: #574f51; /* Gold */
$black: #212121; /* Off-black */


/* Variables */
$spacing: 100px; /* Space between image and text */
$padding: 100px; /* Space above and below sections */
$background: #FFF #fafafa #FFF #fafafa #FFF #fafafa; /* Background colours for sections - in order */


/* Other */
@mixin animate($time) {
	-webkit-transition: $time;
	-moz-transition: $time;
	-o-transition: $time;
	transition: $time;
}


/* Import */
/* @import 'grid'; */
/* @import 'retina'; */




/*------------------------------------*\
    #General
\*------------------------------------*/

html, body {
	font-size: 100%;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	vertical-align: baseline;
}

body {
	-webkit-text-size-adjust: 100%; /* Because iPhones are dumb sometimes. */
	font-weight: normal;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

img {
	max-width: 100%;
}





/*------------------------------------*\
    #Grid
\*------------------------------------*/

section {
	padding: 80px 0;
	width: 100%;

	h2 {
		padding-top: 40px;
	}
}

.contain {
	margin: 0 auto;
	max-width: 500px;
	padding: 0 30px;
}

@for $i from 1 through length($background) {
	section:nth-of-type(#{$i}) {
		background-color: nth($background, $i);
	}
}





/*------------------------------------*\
    #Main
\*------------------------------------*/

nav {
	background: #FFF;
	box-shadow: 2px 4px 14px rgba(0,0,0,0.05);
	height: 54px;
	position: absolute;
	/* position: fixed; */
	top: 0;
	left: 0;
	width: 100%;
}

.navbar {
	margin: 0 auto;
	max-width: 980px;
	padding-top: 20px;
	position: relative;
	text-align: center;
	width: 100%;

	a {
		color: #666;
		font: 500 14px/1 $primary;
		padding: 25px 0 0 20px;
	}
}

header {
	background: $black url('https://unsplash.imgix.net/reserve/fqUehZ3ZRru2Kh11qDBT_IMG_0042.jpg') center bottom no-repeat;
	background-size: cover;
	color: #FFF;
	margin-top: 54px;
	padding: 200px 0;
	text-align: center;

	h2 {
		color: #FFF;
		font-size: 18px;
	}
}

footer {
	background: $black;
	color: rgba(white, 0.8);
	font: 9px/22px $secondary;
	letter-spacing: 2px;
	padding: 60px 30px 50px;
	text-align: center;
	text-transform: uppercase;
}





/*------------------------------------*\
    #Element
\*------------------------------------*/

section {

	&:first-of-type {
		padding: 100px 0 (100px-14);

		h2, p, a {
			padding: 0;
			width: 100%;
		}
	}
}

.break {
	border-top: 1px solid #FFF;
	display: block;
	height: 1px;
	margin: 22px 0 20px;
	width: 10%;
}

.cover {
	background: url('../img/cover.jpg') center no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	height: 580px;
	width: 100%;
}





/*------------------------------------*\
    #Typography
\*------------------------------------*/

h1 {
	font: 500 80px/1 $display;
	margin: 10px 0 0;
	padding: 0 30px;
	text-transform: uppercase;
}

h2 {
	color: $highlight-color;
	font: 600 20px/1 $primary;
	letter-spacing: 1px;
	margin: 20px 0 0 (-22px/20);
	text-transform: uppercase;
}

p {
	color: $main-color;
	font: 14px/24px $secondary;
}

a {
	@include animate(0.3s ease-out);
	color: $highlight-color;
	text-decoration: none;

	&:hover {
		color: $main-color;
	}
}





/*------------------------------------*\
    #Responsive
\*------------------------------------*/

@media only screen and (min-width: 970px) {
	.navbar {
		text-align: right;
	}

	.contain {
		max-width: 970px;
	}

	section {
		padding: $padding 0;

		h2 {
			padding-top: 0;
		}

		h2, p, img {
			width: 50%;
		}

		&:nth-of-type(odd):not(:first-of-type) {
			img {
				float: right;
				padding-left: ($spacing/2);
			}

			h2, p {
				float: left;
				padding-right: ($spacing/2);
			}
		}

		&:nth-of-type(even):not(:first-of-type) {
			img {
				float: left;
				padding-right: ($spacing/2);
			}

			h2, p {
				float: right;
				padding-left: ($spacing/2);
			}
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
}





/*------------------------------------*\
    #Animations
\*------------------------------------*/

@import 'animations';






