/*------------------------------------*\
    #Dependencies
\*------------------------------------*/


/* Fonts */
$primary: 'Source Sans Pro', sans-serif;
$secondary: 'Helvetica Neue', Helvetica, Arial, sans-serif;


/* Colours */
$main-color: #555;
$highlight-color: #4caac6;
$dark-grey: #394042;


/* Other */
@mixin vertical-align {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin animate($time) {
	-webkit-transition: $time;
	-moz-transition: $time;
	-o-transition: $time;
	transition: $time;
}


/* Import */
/* @import 'grid'; */
/* @import 'retina'; */


/* Variables */
$spacing: 80px; /* Space between image and text */
$padding: 160px; /* Space above and below sections */
$background: #FFF #f5f5f5 #FFF #f6f6f6 #eee; /* Background colours for sections - in order */





/*------------------------------------*\
    #General
\*------------------------------------*/

html, body {
	font-size: 100%;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	vertical-align: baseline;
}

body {
	-webkit-text-size-adjust: 100%; /* Because iPhones are dumb sometimes. */
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

img {
	max-width: 100%;
}





/*------------------------------------*\
    #Grid
\*------------------------------------*/

section {
	padding: 80px 0;
	width: 100%;

	h2 {
		padding-top: 40px;
	}
}

.contain {
	margin: 0 auto;
	max-width: 500px;
	padding: 0 30px;
}

@for $i from 1 through length($background) {
	section:nth-of-type(#{$i}) {
		background-color: nth($background, $i);
	}
}





/*------------------------------------*\
    #Main
\*------------------------------------*/

header {
	background: #222;
	padding: 180px 0;
	text-align: center;
}





/*------------------------------------*\
    #Element
\*------------------------------------*/

.class {}





/*------------------------------------*\
    #Typography
\*------------------------------------*/

h1, h2, h3 {
	font-family: $primary;
}

h2 {
	font: 700 16px/20px $primary;
	letter-spacing: 1px;
	text-transform: uppercase;
}

p {
	font: 14px/24px $secondary;
}

a {
	color: $main-color;
	text-decoration: none;
}





/*------------------------------------*\
    #Responsive
\*------------------------------------*/

@media only screen and (min-width: 940px) {
	.contain {
		max-width: 940px;
	}

	section {
		padding: $padding 0;

		h2 {
			padding-top: 0;
		}

		h2, p, img {
			width: 50%;
		}

		&:nth-of-type(odd) {
			img {
				float: right;
				padding-left: ($spacing/2);
			}

			h2, p {
				float: left;
				padding-right: ($spacing/2);
			}
		}

		&:nth-of-type(even) {
			img {
				float: left;
				padding-right: ($spacing/2);
			}

			h2, p {
				float: right;
				padding-left: ($spacing/2);
			}
		}

		&:after {
			content: "";
			display: table;
			clear: both;
		}
	}
}





/*------------------------------------*\
    #Animations
\*------------------------------------*/

@import 'animations';






