/*------------------------------------*\
    #Dependencies
\*------------------------------------*/


/* Fonts */
$primary: 'Lato', sans-serif;
$secondary: 'Lato', 'Helvetica', Arial, sans-serif;


/* Colours */
$main-color: #555;
$highlight-color: #4caac6;


/* Other */
@mixin vertical-align {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

@mixin animate($time) {
	-webkit-transition: $time;
	-moz-transition: $time;
	-o-transition: $time;
	transition: $time;
}


/* Import */
@import 'grid';
@import 'retina';

/*
Reference:
@include retina-image($name, 0px 0px);
*/





/*------------------------------------*\
    #General
\*------------------------------------*/

html, body {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

body {
	-webkit-text-size-adjust: 100%; /* Because iPhones are dumb sometimes. */
	font-weight: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}





/*------------------------------------*\
    #Main_Style
\*------------------------------------*/

.class {}





/*------------------------------------*\
    #Typography
\*------------------------------------*/

h1, h2, h3 {
	font-family: $primary;
}

p {
	font-family: $secondary;
}

a {
	@include animate(0.3s);
	color: $main-color;
	text-decoration: none;
}

a:hover {
	color: lighten($main-color, 30%);
}

li {
	font-family: $secondary;
}





/*------------------------------------*\
    #Responsive
\*------------------------------------*/

@media only screen and (min-width: 100px) {}





/*------------------------------------*\
    #Animations
\*------------------------------------*/

@import 'animations';






